.card {
    box-shadow: 3px 3px 7px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 80%;
    margin: auto;
    padding: 20px;
}
.font {
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    text-align: center;
}
.btn {
    width: 230px;
    height: 50px;
    background-color: aquamarine;
    border-radius: 10px;
    border-color: aquamarine;
    font-weight: bold;
    margin: 0% 5%;
}
.btn:hover {
    font-size: larger;
}
.box{
    width: 300px;
    height: 30px;
    padding: 7px;
    border-color: aqua;
    border-width: 1px;
}
table{
    border-color: aqua;
    margin: auto;
    padding-bottom: 30px;
}
td, th{
    padding: 10px 50px;
    border-bottom: 1px solid aquamarine;
}
